.auth-container {
    background: #fff;
    width: 90%;
    max-width: 380px;
    padding: 30px;
    border-radius: 28px;
    box-shadow: 0 20px 40px rgba(0,0,0,.25);
    text-align: center;
}

.logo {
    width: 70px;
    margin-bottom: 10px;
}

h1 {
    margin: 10px 0 5px;
}

.subtitle {
    color: #666;
    font-size: 0.9rem;
}

.tabs {
    display: flex;
    gap: 10px;
    margin: 25px 0;
}

.tab {
    flex: 1;
    padding: 12px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    background: #f2f2f2;
    font-weight: 600;
}

.tab.active {
    background: #5e42ff;
    color: white;
}

form {
    text-align: left;
}

label {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
}

input {
    width: 100%;
    padding: 14px;
    border-radius: 14px;
    border: 1px solid #ddd;
    margin-bottom: 16px;
    outline: none;
}

input:focus {
    border-color: #5e42ff;
}

.btn-primary {
    width: 100%;
    padding: 14px;
    background: #5e42ff;
    color: white;
    border: none;
    border-radius: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary:hover {
    opacity: 0.9;
}

.link {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 15px;
    color: #5e42ff;
}
.is-hidden {
    display: none;
}
